body{
    max-width: 1440px;
    width: 100%;
}
.mrg, header, .left{
    margin-left: 144px;
}
*{
    font-family: Helvetica, Arial, sans-serif;
}
h1{
    font-weight: 700;
    font-size: 17px;
    color: #5863E3;
}
h2{
    font-weight: 400;
    font-size: 49px;
    color: #000000;
}
header{
    margin-top: 57px;
    margin-bottom: 57px;
}
.forms{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.desc{   
    width: 756px;
    height: 298px;
    background-color: #F8F8F8;
    border: 2px solid #D4D3D34D;;
    color: #99999A;
    font-size: 14px;
    font-weight: 700;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input{
    height: 59px;
    width: 370px;
    background-color: #F8F8F8;
    border: 2px solid #D4D3D34D;;
    color: #99999A;
    font-size: 14px;
    font-weight: 700;
}
.submit{
    height: 59px;
    width: 370px;
    background-color: #5968F4;
    border: 0;
    color: #FBFBFF;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}
.icons{
    margin-right: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 250px;
    margin-left: 65px;
    margin-top: 70px;
    margin-bottom: 74px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}
.circle{
    display: flex;
    background-color: #5968F4;
    height: 68px;
    width: 68px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 8px;
}
h4{
    color:#4E4D54;
    font-weight: 700;
    font-size: 20px;
}
h3{
    color: #99999A;
    font-weight: 700;
    font-size: 15px;
}
.images{
    display: flex;
    justify-content: space-between;
    margin: 53px 61px 39px 61px;
}
.content{
    display: flex;
    background-color: black;
    height: 372px;
    width: 100%;
}
.title{
    padding-top: 63px;
    font-size: 26px;
    font-weight: 700;
    color: white;
}
.text{
    font-size: 17px;
    font-weight: 700;
    color: #99999A;
    margin-top: 23px;
    margin-bottom: 27px;
}
.logos{
    display: flex;
    gap: 4px;
}
.left{
    display: flex;
    flex-direction: column;
    margin-right: 128px;
}
.heading{
    font-size: 21px;
    font-weight: 400;
    color: white;
    margin-bottom: 23px;
    padding-top: 63px;
}
h5{
    font-size: 17px;
    font-weight: 400;
    color: #5863E3;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-left: 69px;
}
.line{
    display: flex;
    gap: 14px;
}
.continfo{
    font-weight: 400;
    font-size: 17px;
    color: white;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 101px;
}